@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow: hidden;
}

#form .ql-toolbar {
    border-radius: 0.5rem 0.5rem 0 0;
    @apply border-gray-200;
    @apply bg-white;

}

#form .ql-container{
    border-radius: 0 0 0.5rem 0.5rem;
    @apply border-gray-200;
    @apply bg-white;
}

#form .ql-editor{
    @apply h-24;
}